<mat-toolbar color="primary" class="flex justify-between items-center top-0 w-full fixed z-50" style="height: 64px;">
  <div class="flex items-center space-x-10">
    <span>Kanban App</span>
    <button mat-button routerLink="/projects">
      Projekty
    </button>
  </div>
  <div class="flex items-center space-x-4">
    <button mat-button [matMenuTriggerFor]="menu" class="p-2">
      <app-user-info [userId]="uid"></app-user-info>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user">
        <mat-icon>person</mat-icon>
        Twoje konto
      </button>
      <button mat-menu-item (click)="authService.SignOut()">
        <mat-icon>exit_to_app</mat-icon>
        Wyloguj się
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
