.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: white;
}

tr.table-row:hover {
  background: whitesmoke;
  cursor: pointer;
}