<div class="full-height-container flex justify-center text-base" style="background-color: #f5f5f5;">
  <div class="w-3/4 mt-4">
    <div class="flex space-x-4">
      <button class="mb-4 w-48" mat-raised-button color="primary" (click)="newProject()" mat-button>
        Stwórz projekt
      </button>
      <button class="mb-4 w-48" mat-raised-button color="primary" (click)="joinProject(projectId)">
        Dołącz do projektu
      </button>
    </div>
    <ng-container *ngIf="projects | async as projectList; else loading">
      <app-project *ngFor="let project of projectList" [project]="project"></app-project>
        <!-- <app-project (edit)="editProject($event)" *ngFor="let project of projectList" [project]="project"></app-project> -->
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
