<div class="flex items-center justify-center min-h-screen text-base" style="background-color: #f5f5f5;">
  <div class="w-2/3 md:w-1/2 xl:w-1/3">
    <mat-card class="p-6">
      <div class="mb-4">Rejestracja</div>

      <form [formGroup]="form" class="w-full">
        <div class="mb-4">
          <mat-form-field class="w-full">
            <input matInput placeholder="E-mail" type="email" formControlName="email">
            <mat-error *ngIf="form.get('email')!.hasError('required')">
              Wymagany adres E-mail
            </mat-error>
            <mat-error *ngIf="form.get('email')!.hasError('email')">
              Niepoprawny adres E-mail
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-4">
          <mat-form-field class="w-full">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Hasło" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon style="color: #3f51b5;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password')!.hasError('required')">
              Wymagane hasło
            </mat-error>
            <mat-error *ngIf="form.get('password')!.hasError('minlength')">
              Hasło musi mieć co najmniej 6 znaków
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-4">
          <mat-form-field class="w-full">
            <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Powtórz hasło" formControlName="password2">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon style="color: #3f51b5;">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password2')?.errors?.['mismatch']">
              Hasła nie są identyczne
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" class="w-full mb-4" [disabled]="!form.valid"
        (click)="authService.SignUp(form.get('email')?.value, form.get('password')?.value)" (click)="showLoadingFunc()">
          Zarejestruj się
        </button>
      </form>

      <div class="text-center mb-2">
        Lub
      </div>


      <div class="mb-4 text-center">
        <button mat-stroked-button (click)="authService.GoogleAuth()">
          <div class="flex items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google Icon" class="h-5 w-5 mr-1">
            <span class="ml-2">Kontynuuj z Google</span>
          </div>
        </button>
      </div>

      <div class="redirectToLogin">
        <span>Masz już konto? <a routerLink="/sign-in" style="color: #3f51b5;">Zaloguj się</a></span>
      </div>
    </mat-card>
    <ng-container *ngIf="showLoading; else noLoading">
      <mat-progress-bar mode="indeterminate" style="border-radius: 50%; height: 30px;"></mat-progress-bar>
    </ng-container>
  </div>
</div>

<ng-template #noLoading>
  <mat-progress-bar mode="indeterminate" style="border-radius: 50%; height: 30px; visibility: hidden;"></mat-progress-bar>
</ng-template>