<div class="flex items-center justify-center min-h-screen text-base" style="background-color: #f5f5f5;">
  <div class="w-2/3 md:w-1/2 xl:w-1/3">
    <mat-card class="p-6">
      <div class="mb-4">Wprowadź adres E-mail aby zresetować hasło</div>

      <form [formGroup]="form" class="w-full">
        <div class="mb-4">
          <mat-form-field class="w-full">
            <input matInput placeholder="E-mail" type="email" formControlName="email">
            <mat-error *ngIf="form.get('email')!.hasError('required')">
              Wymagany adres E-mail
            </mat-error>
            <mat-error *ngIf="form.get('email')!.hasError('email')">
              Niepoprawny adres E-mail
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" class="w-full mb-6" [disabled]="!form.valid"
        (click)="authService.ForgotPassword(form.get('email')?.value)">
          Zresetuj hasło
        </button>
      </form>

      <div class="redirectToLogin">
        <span>Powrót? <a routerLink="/sign-in" style="color: #3f51b5;">Zaloguj się</a></span>
      </div>
    </mat-card>
  </div>
</div>
