/* mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar > span {
  margin-left: 10px;
} */

.list {
  min-height: 134px;
  max-height: calc(100vh - 280px);
  border-radius: 4px;
  background-color: white;
  overflow-y: auto;
}

/* app-new-task {
  margin-bottom: 30px;
}

*/

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
